
streamlit>=1.35.0
langchain>=0.2.0
langchain-community>=0.2.0
langchain-huggingface
langchain-chroma>=0.1.1
langchain-groq
sentence-transformers
pypdf
chromadb>=0.5.0
protobuf>=5.26.0
opentelemetry-proto>=1.25.0
opentelemetry-exporter-otlp-proto-grpc>=1.25.0
python-dotenv
rank_bm25
numpy
